html,
body {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  height: 100%;
  margin: 0;
}

.App-logo {
  max-width: 5em;  
}

.App-header {
  display: flex;  
  background-color: #222222;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.App-main {
  flex: 2;
  margin-bottom: 10vw;
}

.App-footer {
  max-height: 4em;
  display: flex;  
  background-color: #222222;
  padding: 20px;
  justify-content: center;
}
.App-title {
  text-align: center;
  font-size: 2em;
  color: #fff;
}

.App-subtitle {
  font-size: 1em;
  color: #77d2f1,
}

.App-intro {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: large;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.App-logo-spin {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

